@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.chicle-regular {
    font-family: "Chicle", serif;
    font-weight: 400;
    font-style: normal;
}

#pageContainer {
    display: flex;
}

#sidebarContainer {
    height: 100vh;
    width: 30vw;
    background-image: url(./images/Flux_Dev_A_serene_and_deserted_beach_scene_at_dawn_or_dusk_wit_1.jpeg);
}

#sidebarContainer img {
    max-height: 70px;
}

#textContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}

h1 {
    color: white;
    font-size: 4em;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding:10% 20px 0px;
    width: 70vw;
}

#mainContainer p {
    text-align: center;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 2px 10px gray, 0px -1px 3px gray;
    width: 70vw;
    align-items: center;
}

.formLine {
    display: flex;
    gap: 70px;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.formInput label {
    margin-bottom: -5px;
}

.formInput input {
    border-radius: 5px;
    border: 1px black solid;
}

.formInput input:focus {
    background-color: #93A6A0;
}

form button {
    margin: 25px 0px;
    align-self: center;
    width: 25%;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px black solid;
    background-color: #93A6A0;
    font-size: 18px;
}

form button:hover {
    background-color: aliceblue;
    box-shadow: 2px 2px 3px gray;
}

